body {
    background-color: rgb(64, 73, 90);
}

#header {
    color: antiquewhite;
}

header {
    background-color: rgb(35, 40, 63);
    text-align: center;
}

table, tr, td {
    border: 2px solid rgb(255, 255, 255);
    color: aliceblue;

}

