table, tr, td{
    border: 2px solid black;
    background-color: aliceblue;
}



body {
    background-color: rgb(2,48,32);
}

#feedback {
    margin-top: 5%;
    text-align: center;
}

#funcion {
    text-align: center;
}

#titulo-lab {
    font-family: Georgia;
}

#nombre {
    color: beige;
    font-family: Verdana;
    text-align: center;
}

.banner{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    background-color: rgb(116,161,46);
    border-radius: 10%;
}

.contenido{
   background-color: rgb(9,121,105);
   border-radius: 5%;
}